<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.forsta.securesms"
    android:versionCode="100"
    android:versionName="1.0.1">

    <uses-sdk tools:overrideLibrary="com.amulyakhare.textdrawable,com.astuetz.pagerslidingtabstrip,pl.tajchert.waitingdots,com.h6ah4i.android.multiselectlistpreferencecompat" />

    <permission
        android:name="org.forsta.securesms.ACCESS_SECRETS"
        android:label="Access to TextSecure Secrets"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="org.forsta.securesms.ACCESS_SECRETS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_PROFILE" />
    <uses-permission
        android:name="android.permission.BROADCAST_WAP_PUSH"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- For sending location tiles in the future -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- So we can add a TextSecure 'Account' -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- For conversation 'shortcuts' on the desktop -->
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />

    <!-- For sending/receiving events -->
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <!-- For fixing MMS -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- Set image as wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <permission
        android:name="org.forsta.securesms.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="org.forsta.securesms.permission.C2D_MESSAGE" />
    <!-- Old key AIzaSyCSx9xea86GwDKGznCAULE9Y5a8b-TfN9U -->
    <application
        android:name="org.forsta.securesms.ApplicationContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TextSecure.LightTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD0hDDyBcplwkYtn-2j_1rx-aOu9d-J1o0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="org.forsta.securesms.mms.TextSecureGlideModule"
            android:value="GlideModule" />

        <activity
            android:name="org.forsta.securesms.CountrySelectionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.ImportExportActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.InviteActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:parentActivityName="org.forsta.securesms.ConversationListActivity"
            android:theme="@style/TextSecure.HighlightTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.forsta.securesms.ConversationListActivity" />
        </activity>
        <activity
            android:name="org.forsta.securesms.PromptMmsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="Configure MMS Settings"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.forsta.securesms.DeviceProvisioningActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tsdevice" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.forsta.securesms.preferences.MmsPreferencesActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.ShareActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.forsta.securesms.ConversationListActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask" />

        <activity-alias
            android:name=".RoutingActivity"
            android:exported="true"
            android:targetActivity="org.forsta.securesms.ConversationListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@drawable/icon" />
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@drawable/icon" />
        </activity-alias>

        <activity
            android:name="org.forsta.securesms.ConversationListArchiveActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest_archived_conversations"
            android:launchMode="singleTask"
            android:parentActivityName="org.forsta.securesms.ConversationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.forsta.securesms.ConversationListActivity" />
        </activity>
        <activity
            android:name="org.forsta.securesms.ConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:parentActivityName="org.forsta.securesms.ConversationListActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.forsta.securesms.ConversationListActivity" />
        </activity>
        <activity
            android:name="org.forsta.securesms.ConversationPopupActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TextSecure.LightTheme.Popup"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="org.forsta.securesms.MessageDetailsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__message_details"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.forsta.securesms.GroupCreateActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="org.forsta.securesms.DatabaseMigrationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="org.forsta.securesms.DatabaseUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="org.forsta.securesms.ExperienceUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="org.forsta.securesms.PassphraseCreateActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__create_passphrase"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.LightIntroTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.forsta.securesms.PassphrasePromptActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__enter_passphrase"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.LightIntroTheme"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="org.forsta.securesms.NewConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="org.forsta.securesms.PushContactSelectionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__select_contacts"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.forsta.securesms.PassphraseChangeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__change_passphrase" />
        <activity
            android:name="org.forsta.securesms.VerifyIdentityActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.ApplicationPreferencesActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.RegistrationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.forsta.securesms.RegistrationProgressActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.forsta.securesms.DeviceActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__linked_devices" />
        <activity
            android:name="org.forsta.securesms.LogSubmitActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__log_submit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.forsta.securesms.MediaPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__media_preview"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.forsta.securesms.MediaOverviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.forsta.securesms.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="org.forsta.securesms.PlayServicesProblemActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.DialogActivity" />
        <activity android:name="org.forsta.securesms.SmsSendtoActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.org.forsta.securesms.contact" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.forsta.securesms.RecipientPreferenceActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar" />
        <activity
            android:name="org.forsta.securesms.BlockedContactsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightTheme" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service
            android:name="org.forsta.securesms.service.ApplicationMigrationService"
            android:enabled="true" />
        <service
            android:name="org.forsta.securesms.service.KeyCachingService"
            android:enabled="true" />
        <service
            android:name="org.forsta.securesms.service.RegistrationService"
            android:enabled="true" />
        <service
            android:name="org.forsta.securesms.service.MessageRetrievalService"
            android:enabled="true" />
        <service
            android:name="org.forsta.securesms.service.QuickResponseService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="org.forsta.securesms.service.AccountAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="org.forsta.securesms.service.ContactsSyncAdapterService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contactsformat" />
        </service>

        <receiver
            android:name="org.forsta.securesms.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="org.forsta.securesms" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.service.SmsListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1001">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.service.SmsDeliveryListener"
            android:exported="true">
            <intent-filter>
                <action android:name="org.forsta.securesms.services.MESSAGE_SENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.service.MmsListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="1001">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.notifications.MarkReadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="org.forsta.securesms.notifications.CLEAR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.notifications.WearReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.forsta.securesms.notifications.WEAR_REPLY" />
            </intent-filter>
        </receiver>

        <provider
            android:name="org.forsta.securesms.providers.PartProvider"
            android:authorities="org.forsta.provider.securesms"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="org.forsta.securesms.providers.MmsBodyProvider"
            android:authorities="org.forsta.provider.securesms.mms"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver
            android:name="org.forsta.securesms.service.RegistrationNotifier"
            android:exported="false">
            <intent-filter>
                <action android:name="org.forsta.securesms.REGISTRATION_EVENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.forsta.securesms.service.DirectoryRefreshListener">
            <intent-filter>
                <action android:name="org.whispersystems.whisperpush.DIRECTORY_REFRESH" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.forsta.securesms.notifications.MessageNotifier$ReminderReceiver">
            <intent-filter>
                <action android:name="org.forsta.securesms.MessageNotifier.REMINDER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.forsta.securesms.notifications.MessageNotifier$DeleteReceiver">
            <intent-filter>
                <action android:name="org.forsta.securesms.MessageNotifier.DELETE_REMINDER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.forsta.securesms.ExperienceUpgradeActivity$AppUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.forsta.securesms.service.PanicResponderListener"
            android:exported="true">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />

        <activity
            android:name="io.forsta.ccsm.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name="io.forsta.ccsm.DashboardActivity"
                  android:parentActivityName="org.forsta.securesms.ConversationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.forsta.securesms.ConversationListActivity" />
        </activity>
    </application>

</manifest>